@charset "utf-8";

html{
    font-size: calc(100vw/3.75);
}
@media (min-width: 414px){
    html{
        font-size: 110.4px;
    }
}

/*上分下分
******************************/
a:active{
    opacity: .7;
}
.point-setting .table-box .tb .user .name img{
    display: inline;
    height: .15rem;
    position: relative;
    top: .02rem;
}
.point-setting{
    color: #959595;
    font-size: .14rem;
    background: #fff;
}
.point-setting .part-0{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 640px;
    padding: .15rem .3rem .15rem;
    background: #fff;
    box-sizing: border-box;
    z-index: 10;
}
.point-setting .part-0 .title{
    margin-top: .1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.point-setting .part-0 .middle-btn{
    margin: 0 0 .2rem;
}
.point-setting .part-0 .title .left-a{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.point-setting .part-0 .title .middle{
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    margin: auto;
    text-align: center;
}
.point-setting .part-0 .title .middle select{
    height: .32rem;
    line-height: .32rem;
    border:1px solid #00a29a;
    border-radius:.03rem;
    color: #00a29a;
    background: #fff;
}
.point-setting .part-0 .title .right{
    text-align: right;
}
.point-setting .part-0 .title .save{
    display: block;
    width: .8rem;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    background: #00a29a;
    border-radius: .3rem;
    color: #fff;
}
.point-setting .part-1{
    margin-top: 1.8rem;
    margin-bottom: .3rem;
    padding: 0 .3rem .3rem;
}
.point-setting .search{
    position: relative;
}
.point-setting .search input{
    padding: 0 .35rem 0 .15rem;
    width: 100%;
    height: .3rem;
    line-height: .3rem;
    background: #eee;
    border-radius: .3rem;
    border: none;
    box-sizing: border-box;
    font-size: .14rem;
}
.point-setting .search .search-btn{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: .35rem;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    color: #ccc;
    font-size: .16rem;
}
.point-setting .table-box{
    margin: .15rem 0;
}
.point-setting .table-box .tb{
    margin: .15rem 0;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
}
.point-setting .table-box .tb td{
    padding: .15rem 0;
    border-top: solid 1px #1accc3;
}
.point-setting .table-box .tb td:first-child{
    width: 1.2rem;
}
.point-setting .table-box .tb td:last-child{
    width: 1rem;
}
.point-setting .table-box .tb .user{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.point-setting .table-box .tb .user .img-box{
    margin-right: .05rem;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
}
.point-setting .table-box .tb .user .right{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
}
.point-setting .table-box .tb .user .name{
    height: .2rem;
    line-height: .2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.point-setting .table-box .tb .user .name img{
    display: inline;
    height: .15rem;
    position: relative;
    top: .02rem;
}
.point-setting .table-box .tb .user .edit{
    position: absolute;
    bottom: -.1rem;
    left: .45rem;
    right: 0;
    height: .2rem;
    line-height: .2rem;
    text-align: center;
}
.point-setting .table-box .tb .user .edit a{
    color: #00a29a;
}
.point-setting .table-box .tb .inp-box{
    width: .85rem;
    height: .25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: solid 1px #00a29a;
    border-radius: .03rem;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
}
.point-setting .table-box .tb .inp-box .left{
    min-width: .35rem;
    height: .25rem;
    line-height: .25rem;
    background: #00a29a;
    color: #fff;
    text-align: center;
}
.point-setting .table-box .tb .inp-box .right{
    height: .25rem;
    line-height: .25rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    background: #fff;
    color: #00a29a;
    text-align: center;
}
.point-setting .table-box .tb .inp-box .right input{
    width: 100%;
    text-align: center;
    border: none;
    color: #00a29a;
}
.point-setting .table-box .tb .inp-box-2{
    margin-top: .05rem;
    border: solid 1px #b5b5b5;
}
.point-setting .table-box .tb .inp-box-2 .left{
    background: #b5b5b5;
}
.point-setting .table-box .tb .inp-box-2 .right,
.point-setting .table-box .tb .inp-box-2 .right input{
    color: #999;
}
.point-setting .form-inp{
    margin-top: .1rem;
}
.point-setting .form-inp .inp{
    padding: 0 .1rem;
    margin-bottom: .1rem;
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    box-sizing: border-box;
}
.point-setting .form-inp .inp img{
    display: inline;
    height: .18rem;
    position: relative;
    top: .03rem;
    margin: 0 .03rem;
}
.point-setting .part-1{
    background: #fff;
}
.point-setting .calendar a,
.point-setting .middle-btn .icon{
    display: inline-block;
    width: .15rem;
    height: .15rem;
    background:url(../images/icon/icon-20170103.png)left no-repeat;
    background-size: auto 100%;
}
.point-setting .title .left .chk-btn{
    position: relative;
    border:none;
    background:none;
    -webkit-appearance: none;
    width:.2rem;
    height:.2rem;
    vertical-align: middle;
    margin-right:.02rem;
}
.point-setting .title .left .chk-btn:before{
    content:'';
    width:100%;
    height:100%;
    background:url(../images/icon/icon-02.png)left no-repeat;
    background-size:200% auto;
    position: absolute;
    top:0;
    left:0;
}
.point-setting .title .left .chk-btn:checked:before{
    background-position-x:100%;
}
.point-setting .green {
    color: #00a29a;
}
.point-setting .middle-btn a{
    display: inline-block;
    padding: .05rem .1rem;
    color:#00a29a;
    border:1px solid #00a29a;
    border-radius:3px;
    margin: .1rem 0 -.1rem;
}
.point-setting .middle-btn a.active{
    background: #00a29a;
    color:#fff;
}
.point-setting .middle-btn a .icon{
    position: relative;
    top:3px;
    margin-right:.05rem;
}
.point-setting .middle-btn a.btn-2{
    border: none;
    float: right;
    padding:.05rem 0;
    color: #999;
}
.point-setting .table-box .tb .mark .right .name{
    color:#00a29a;
}
.point-setting .table-box .tb .mark .right .logo{
    background: #00a29a;
    color:#fff;
    border-radius:50%;
    width:.15rem;
    height: .15rem;
    margin:auto;
    font-size: .1rem;
}
.point-setting .table-box .tb .mark .right{
    margin-top:-.15rem;
}